* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: white;
  }


html {
    background-color: rgb(66, 66, 66);
}

a {
    text-decoration: none;
    color: black;
    background-color: white !important;
    text-align: center;
    padding: 5px;
    font-family:kanit;

}

a:hover {
    color: white;
    background-color: black !important;
}