* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: joan;
    src: url(assets/fonts/Joan-Regular.ttf);
}


h1 {
    font-family: joan;
}

h2 {
    font-family: joan;
}

h3 {
    font-family: joan;
}

a {
    font-family: joan;
}

header {
    height: 10%;
}

a, navbar {
    color: black;
    text-decoration: underline;
    padding: 3px;
    transition-duration:0.1s ;

}

a:hover, navbar {
    color: white;
    background-color: black;
    transition-duration:0.3s ;

}

#navbar {
    text-align: center;
    border-width: 3px 5px 5px 5px;
    border-color: white;
    border-style: solid;
    border-radius: 0px 0px 5px 5px;
    margin-left: 30%;
    margin-right: 30%;
    font-size:20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

#webtitle {
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    text-align: center;
}

html {
    background-image: linear-gradient(to bottom, #406bb3, #7393c8, #ce966e , #ff7b1a);
    background-attachment: fixed;
}












body {
    height: 110%;
    margin: 0;
}



#divider {
    width: 100%;
    height: 5%;
}

#left {
    width: 830px;
    height: 70%;
    float: top;
    background-color: maroon;
    z-index: 0;
    margin: 20px;


    border-width:5px ;
    border-style: solid;
    border-color: white;

    
}

#leftcontent {
    padding: 15px;
}


#right {
    width: 830px;
    height: 70%;
    float: top;
    background-color: maroon;
    z-index: 0;
    margin: 20px;
    
    border-width:5px ;
    border-style: solid;
    border-color: white;
}

#boxcontent {
    padding: 15px;
}

#content {
    align-items: top;
    margin-left: 6vh;
    margin-right: 6vh;
    display: flex; flex-flow: row wrap;
}

.title {
    color: white;
    text-align: center;
}

.titlecontent {
    color: black;
    text-align: center;
    background-color: white;
    max-height: 35px;
    width: 100%;
    padding: 3px;
    padding-top: 0;
}



/* Solid border line */
hr.solid {
    border-top: 3px solid white;
  }









/* Site Boxes*/

.sitebox {

    height: 200px;
    background-color: white;
    margin: 20px;
}

#pacificaicon {
    background-image: url(assets/img/pacifica.png);
    width: 180px;
    height: 180px;
    background-size: cover;
    float: left;
    margin: 10px;

}
#musicicon {
    background-image: url(assets/img/reel-to-reel.png);
    width: 180px;
    height: 180px;
    background-size: cover;
    float: left;
    margin: 10px;

}

#photographyicon {
    background-image: url(assets/img/camera.png);
    width: 180px;
    height: 180px;
    background-size: cover;
    float: left;
    margin: 10px;

}



.sitebox:hover {
    background-color:#9ab6e4;

}










/* Photography Portfolio */


/* Photography previews */


#treebirdfield {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/treebirdfield.jpg);
    background-size: cover;
    background-position-x: -30px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#treebirdfield:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#vanlake {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/vanlake.jpg);
    background-size: cover;
    background-position-x: -10px;
    filter: grayscale(0%);
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

#vanlake:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#lighthouse {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/lighthouse.JPG);
    background-size: cover;
    background-position-x: -10px;
    filter: grayscale(0%);
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

#lighthouse:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#scarbhotel {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/scarboroughhotel.jpg);
    background-size: cover;
    background-position-y: -40px;
    filter: grayscale(0%);
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

#scarbhotel:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#fileybeach {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/fileybeach.JPG);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#fileybeach:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#scarbdocks {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/scarbdocks.jpg);
    background-size: cover;
    background-position-y: -40px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#scarbdocks:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}



#zoobird {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/lonelyzoobird.jpg);
    background-size: cover;
    background-position-x: -30px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#zoobird:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#cooks2021 {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/cooks2021.jpg);
    background-size: cover;
    background-position-x: -20px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#cooks2021:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#cooksfilm {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/cooksfilm.jpg);
    background-size: cover;
    background-position-x: -20px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#cooksfilm:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#skysea {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/skysea.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#skysea:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#fileylighthouse {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/fileylighthouse.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#fileylighthouse:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}



#nycparktree {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/nycparktree.jpg);
    background-size: cover;
    background-position-y: -40px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#nycparktree:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#gothicceiling {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/bedroomceilinggoth.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#gothicceiling:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#nycskylinestreet {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/nycskylinestreetov.jpg);
    background-size: cover;
    background-position-x: -20px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#nycskylinestreet:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#santafest {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/santafest2019.jpg);
    background-size: cover;
    background-position-y: -15px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#santafest:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#evilempire {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/evilempire.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#evilempire:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#gothtreetrain {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/gothingtreetrain.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#gothtreetrain:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#cheeseboard {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/cheeseboard.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#cheeseboard:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#lakedis {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/lakedis.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#lakedis:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#treefall {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/treecoverwaterfall.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#treefall:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#field {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/fieldinnit.jpg);
    background-size: cover;
    transition-duration: 0.5s;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#field:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#benidorm {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/benidorm.jpg);
    background-size: cover;
    background-position-x: -90px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
    transition-duration: 0.2s;
}

#benidorm:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
    
}


.imgbord {
    border: 2px;
    border-style: solid;
    
}



/* img {
    filter: grayscale(100%);
} */

#mehomeimgphotography {
    float: left;
    width: 50%;
    filter: blur(1px);
}




.mehomeimg {
    filter: blur(1px);
}



#textalongsideimage {
	margin: 3px;
	text-align: center;
    height: 361px;
    background-image: linear-gradient(to bottom, #50C9CE, #EAC435);
    padding: 10px;
}


#imgshowcase {
    margin-right: 14%;
    margin-left: 14%;
}





/* <-----------------------> MODALS <-----------------------> */

.bgmodal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalcontent {
    position:relative;
    background-color: white;
    margin: auto;
    padding: 0;
    max-height: 100%;

    /* top: 35%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%); */
    border-radius: 5px;
    /* margin-top: 100px; */
    
    
}

.portrait {
    max-width: 550px;
    filter: grayscale(0) !important;
}

.landscape {
    max-width: 1000px;
    filter: grayscale(0) !important;
}

.modalheader {
    padding: 10px 16px;
    background-color: white;
    color: #50C9CE;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    border-radius:  5px 5px 0 0;
    position: relative;
    font-size: 13pt;
    min-height: 60px;
    
    

}

.modalbody {
    filter: grayscale(0) !important;
    margin-left: auto;
    margin-right: auto;
    
}




.closemodal {
    display: inline-block;
    right: 0;
    padding: 0px 30px 0px 100px;
    position: absolute;
    font-size: 33px;
    background-color: #50C9CE;
    color: white;
    font-family: monospace;
    margin-top: 2px;
}

.closemodal:hover {
    cursor:grab;
    font-family: 'Fjalla One', sans-serif;
    
}




















/* Footer */

footer {
    position:sticky;
    /* bottom: 0; */
    width:100%;
    flex-shrink: 0;
    box-sizing: border-box;
       /* Height of the footer */
    background:#1B2845;
    padding: 20px 0px;
    margin-top: 40px;
    display: inline-block;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
    background-color: white;
}