* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


html {
    background-color: rgb(70, 70, 70);
}

.flex-container {
    display: flex;
  }

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;

}

li {
    display: inline;
    padding: 4px;
    border-radius: 2px
}

#navbar a:hover {
    border-width: 0px 0px 2px 0px ;
    border-color: coral;
    border-style: solid;
    border-radius: 0px;
}


a {
    font-family: serif;
}

a:visited {
    text-decoration: none;
}


#wrapper {

    margin: 0 auto 100px;
    width: 1296px;
    max-width: 100%;
    height: 100%;
}

#header {

    height: 200px;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: white;
}

#subheader {
    margin: 0px 10px 0px 10px ;
    font-family:cursive;
}

#navbar {

    background-color: #373F51;
    padding: 5px;
    color: white;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #373F51 ;


}

#navbar a {
    color: white;

    padding: 4px;
    text-decoration:none;
}

#navbar a:hover {
    text-decoration:solid;

}

#title {
    padding-bottom: 5px;
    text-align: center;
    border-width: 0px 0px 2px 0px ;
    border-color: coral;
    border-style: solid;
    border-radius: 0px;
    
    
}

#location {
    width: 98%;
    background-color: #656a77;
    color: white;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 7px 7px;
    position: sticky;

}

#location a {
    text-decoration: none;
    color: white;
}

#location a:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

#body {
    margin-top: 20px;
    width: 1652px;
    margin-left: auto;
    margin-right: auto;
}

li a {
    margin-top: 10px;
}































.photocatebutton {
    width: 200px;
    height: 60px;
    background-color: white;
    font-size: 30px;
    text-align: center;
}



#categories {
    align-content: left;

}



#left {
    width: 40%;
    float: left;
}


#right {
    width: 60%;
    float: right;
}




/* METAMATIC ASSETS */

/* Photography previews */


#treebirdfield {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/treebirdfield.jpg);
    background-size: cover;
    background-position-x: -30px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#treebirdfield:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#vanlake {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/vanlake.jpg);
    background-size: cover;
    background-position-x: -10px;
    filter: grayscale(0%);
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

#vanlake:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#lighthouse {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/lighthouse.JPG);
    background-size: cover;
    background-position-x: -10px;
    filter: grayscale(0%);
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

#lighthouse:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#scarbhotel {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/scarboroughhotel.jpg);
    background-size: cover;
    background-position-y: -40px;
    filter: grayscale(0%);
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

#scarbhotel:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#fileybeach {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/fileybeach.JPG);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#fileybeach:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#scarbdocks {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/scarbdocks.jpg);
    background-size: cover;
    background-position-y: -40px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#scarbdocks:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}



#zoobird {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/lonelyzoobird.jpg);
    background-size: cover;
    background-position-x: -30px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#zoobird:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#cooks2021 {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/cooks2021.jpg);
    background-size: cover;
    background-position-x: -20px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#cooks2021:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#cooksfilm {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/cooksfilm.jpg);
    background-size: cover;
    background-position-x: -20px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#cooksfilm:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#skysea {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/skysea.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#skysea:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#fileylighthouse {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/fileylighthouse.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#fileylighthouse:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}



#nycparktree {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/nycparktree.jpg);
    background-size: cover;
    background-position-y: -40px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#nycparktree:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#gothicceiling {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/bedroomceilinggoth.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#gothicceiling:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#nycskylinestreet {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/nycskylinestreetov.jpg);
    background-size: cover;
    background-position-x: -20px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#nycskylinestreet:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#santafest {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/santafest2019.jpg);
    background-size: cover;
    background-position-y: -15px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#santafest:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#evilempire {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/evilempire.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#evilempire:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#gothtreetrain {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/gothingtreetrain.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#gothtreetrain:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#cheeseboard {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/cheeseboard.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#cheeseboard:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#lakedis {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/lakedis.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#lakedis:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}

#treefall {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/treecoverwaterfall.jpg);
    background-size: cover;
    
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#treefall:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#field {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/fieldinnit.jpg);
    background-size: cover;
    transition-duration: 0.5s;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
}

#field:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
}


#benidorm {
    width: 150px;
    height: 150px;
    background-image: url(assets/img/photography/benidorm.jpg);
    background-size: cover;
    background-position-x: -90px;
    filter: grayscale(0%);
    margin-top:5px;
    margin-left: 5px;
    float: left;
    transition-duration: 0.2s;
}

#benidorm:hover {
    transition-duration: 0.2s;
    filter: grayscale(100%);
    
}


.imgbord {
    border: 2px;
    border-style: solid;
    
}



/* img {
    filter: grayscale(100%);
} */

#mehomeimgphotography {
    float: left;
    width: 50%;
    filter: blur(1px);
}




.mehomeimg {
    filter: blur(1px);
}



#textalongsideimage {
	margin: 3px;
	text-align: center;
    height: 361px;
    background-image: linear-gradient(to bottom, #50C9CE, #EAC435);
    padding: 10px;
}


#imgshowcase {
    margin-right: 14%;
    margin-left: 14%;

}





/* <-----------------------> MODALS <-----------------------> */

.bgmodal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalcontent {
    position:relative;
    background-color: white;
    margin: auto;
    padding: 0;
    max-height: 100%;

    /* top: 35%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%); */
    border-radius: 5px;
    /* margin-top: 100px; */
    
    
}

.portrait {
    max-width: 550px;
    filter: grayscale(0) !important;
}

.landscape {
    max-width: 1000px;
    filter: grayscale(0) !important;
}

.modalheader {
    padding: 10px 16px;
    background-color: #656a77;
    color: coral;
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    border-radius:  5px 5px 0 0;
    position: relative;
    font-size: 13pt;
    min-height: 60px;
    
    

}

.modalbody {
    filter: grayscale(0) !important;
    margin-left: auto;
    margin-right: auto;
    
}




.closemodal {
    display: inline-block;
    right: 0;
    padding: 0px 30px 0px 100px;
    position: absolute;
    font-size: 33px;
    background-color: coral;
    color: white;
    font-family: monospace;
    margin-top: 2px;
}

.closemodal:hover {
    cursor:grab;
    font-family: 'Fjalla One', sans-serif;
    
}