* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: white;
  }


html {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    border-width: 0px 2px 0px 2px ;
    border-style: solid;

    font-family: monospace;
    padding: 5px;

}

a:hover {
    color: white;
    background-color: black !important;
    border-width: 2px 0px 2px 0px ;
    border-style: solid;
}

.title {
    padding: 5px;
    font-family: monospace;

    width: 50%;
}

span {
    font-size: 7px;
}

body {
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: white;
    font-size: 4vh;

    
}

h2 {
    color: white;

}

h3 {
    color: white;

    font-size: 1vh;
}

.flex-container {
    justify-content:space-evenly;

    padding: 10px;

}




@media (min-width: 320px) and (max-width: 999px) {

    .link {
        display:inline-block;
        width:100%;
        margin-bottom: 2vh;
        font-size: 5vw;
    }

    span {
        font-size: 2px;
    }
  
  }
  



@media (min-width: 1000px) {

    .link {

    }

}